/* 

.chart-canvas {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.card-body {
  text-align: center;
}

h2 {
  margin-bottom: 20px;
} */
.chart-canvas {
  max-width: 100%;
  width: 500px; /* Ajustez cette valeur selon vos besoins */
  height: 500px; /* Ajustez cette valeur selon vos besoins */
  margin: 0 auto;
  display: block;
}

.card-body {
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}
