<div class="row">
  <div class="p-2 col-12 col-md-8 text-center">
    <h5 class="fw-light mb-4">Section Statistique Comptes</h5>
    <p class="fw-light mb-4">
      <strong>
        Cette section présente les principales statistiques et indicateurs clés
        liés à cette entreprise/projet. Vous y trouverez des données chiffrées
        permettant d'avoir une vision d'ensemble de la performance et des
        résultats obtenus</strong
      >
    </p>
  </div>
  <div class="col-12 col-md-12">
    <div class="container w-100 mb-5">
      <canvas id="compteTypeChart"></canvas>
    </div>
  </div>
</div>
